daemonize no
pidfile ./data/redis-%d.pid
port %d
timeout 0
loglevel verbose
logfile ./data/redis-%d.log
databases 32
rdbcompression yes
dbfilename redis-%d.rdb
dir ./data/
slave-serve-stale-data yes
appendonly yes
appendfilename "redis-%d.aof"
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
slowlog-log-slower-than 10000
slowlog-max-len 128
activerehashing yes
repl-timeout 360
